<%- include('./partials/header') %>
<div id="home">
  <h1>Mattify Music App</h1>
  <p>Welcome to the Mattify Music App</p>
</div>
<br />
<div id="album_covers">
  <img src="https://i.imgur.com/EmC26HQ.jpg" alt="madvillain" />
  <img src="https://i.imgur.com/5ZR5pLc.jpg" alt="" />
  <img src="https://i.imgur.com/bSgH0F5.jpg" alt="" />
  <img src="https://i.imgur.com/OiYSloX.jpg" alt="" />
  <img src="https://i.imgur.com/539viwK.jpg" alt="" />
  <img src="https://i.imgur.com/Qga0upf.jpg" alt="" />
  <img src="https://i.imgur.com/MialDa3.jpg" alt="" />
  <img src="https://i.imgur.com/erxaLrT.jpg" alt="" />
  <img src="https://i.imgur.com/1XsF0pm.png" alt="" />
  <img src="https://i.imgur.com/2Ic0VWE.jpg" alt="" />
  <img src="https://i.imgur.com/XCvfOr0.jpg" alt="" />
  <img src="https://i.imgur.com/CYBrHYC.jpg" alt="" />
</div>
<%- include('./partials/footer') %>
