<%- include('../partials/header') %>
<div>
  <a href="/playlists/new"><h1>Create Playlist</h1></a>
</div>
<div id="playlist">
  <h3>Playlist Name:</h3>
  <% playlists.forEach(function(playlist){ %>
  <h4><a href="/playlist/<%= playlist._id %>"><%= playlist.name %></a></h4>
  <% }); %>
</div>

<%- include('../partials/footer') %>
