<%- include('../partials/header') %>
<div id="playlist_container">
  <div>
    <a href="/playlists/new"><h1>Create Playlist</h1></a>
  </div>
  <div id="playlist">
    <h3>Playlist Name:</h3>
    <% playlists.forEach(function(playlist){ %>
    <h4>
      <a href="/playlists/<%= playlist._id %>"><%= playlist.name %></a>
    </h4>
    <% }); %>
  </div>
</div>

<%- include('../partials/footer') %>
