<%- include('../partials/header') %>
<div id="playlist_container">
  <form action="/playlists" method="POST">
    <input type="text" name="name" placeholder="Name of Playlist" />
    <button type="submit" value="create">Create Playlist</button>
  </form>
</div>

<%- include('../partials/footer') %>
