<%- include('../partials/header') %>

<form action="/playlists" method="POST">
  <input type="text" name="name" placeholder="Name of Playlist" />
  <input type="submit" value="create" />
</form>

<%- include('../partials/footer') %>
