<%- include('../partials/header') %>

<div id="artists">
  <h1>Artists</h1>
  <table>
    <tbody>
      <% artists.forEach(function(artist) { %>
      <tr>
        <td style="font-size: 20px"><%= artist.name %></td>
        <td>"<%= artist.songs[0].title %>"</td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<%- include('../partials/footer') %>
